[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Tedd Arcuri
	email = tedd.arcuri@gmail.com
[pull]
	rebase = true
[branch]
	autoSetupRebase = always
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
	useForceIfIncludes = true
[rebase]
	abbreviateCommands = true
	autoSquash = true
	autoStash = true
	updateRefs = true
